@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
font-family: 'Inter', sans-serif;body {
  @apply bg-gray-100 text-gray-900;
  margin: 0;
  padding: 0;
  box-sizing: border-box;   
} */


